{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard - Bienvenido {{ current_user.username }}</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nivel {{ current_user.level }}</h5>
                    <p class="card-text">{{ current_user.total_xp }} XP</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
